---
import {Image} from "astro:assets"
import HoverCard from "./HoverCard.astro"
---

<section id="experiences"
         class="w-full flex flex-col md:grid grid-cols-2 justify-center justify-items-center items-center bg-primary text-white md:p-20 gap-5 md:gap-0 ">
    <div class="w-full flex flex-col items-center justify-start p-5 gap-5">
        <h1 class="text-4xl font-bold">Experiencia Premium</h1>
        <ul class="flex flex-col gap-2 font-medium text-sm">
            <li class="flex gap-2 items-center h-6">
                <div class="h-full aspect-square bg-black text-white rounded-full flex justify-center items-center">
                    ✓
                </div>
                Salas con tecnología 4K y sonido Dolby Atmos
            </li>
            <li class="flex gap-2 items-center h-6">
                <div class="h-full aspect-square bg-black text-white rounded-full flex justify-center items-center">
                    ✓
                </div>
                Asientos reclinables de lujo con espacio extra
            </li>
            <li class="flex gap-2 items-center h-6">
                <div class="h-full aspect-square bg-black text-white rounded-full flex justify-center items-center">
                    ✓
                </div>
                Snack bar gourmet con opciones premium
            </li>
            <li class="flex gap-2 items-center h-6">
                <div class="h-full aspect-square bg-black text-white rounded-full flex justify-center items-center">
                    ✓
                </div>
                Estacionamiento gratuito para todos los clientes
            </li>
        </ul>
    </div>
    <HoverCard class="rounded-xl overflow-hidden">
        <Image src="/placeholder.svg" alt="placeholder" width="400" height="200"
               class="h-full aspect-square w-[600px] object-cover object-center "/>
    </HoverCard>
</section>

