---
import {Image} from "astro:assets"
---

<section id="hero" class="flex flex-col items-center justify-center h-[70vh] gap-5 bg-primary/60 text-center relative">
    <Image src="/placeholder.svg" alt="placeholder" width="400" height="200"
           class="absolute top-0 left-0 w-full h-full object-cover object-center -z-10" loading={'eager'}/>
    <h1 class="text-3xl md:text-6xl font-bold text-center">Vive la magica del cine</h1>
    <h3 class="md:text-xl font-medium ">Las mejores películas, el mejor sonido, la mejor experiencia</h3>
    <div class="flex gap-5">
        <a href="#outlandingMovies" class="bg-gray-800 px-5 py-2.5 text-white rounded-xl font-medium">Ver Cartelera</a>
        <button class="bg-gray-800/30 backdrop-blur-2xl px-5 py-2.5 text-white rounded-xl font-medium">Reservar Ahora
        </button>
    </div>
</section>