---

---

<section id="hero" class="flex flex-col items-center justify-center h-[70vh] gap-5 bg-gray-800/40">
    <h1 class="text-6xl font-bold">Vive la magica del cine</h1>
    <h3 class="text-xl font-medium">Las mejores películas, el mejor sonido, la mejor experiencia</h3>
    <div class="flex gap-5">
        <button class="bg-gray-800 px-5 py-2.5 text-white rounded-xl font-medium">Ver Cartelera</button>
        <button class="bg-gray-800/30 backdrop-blur-2xl px-5 py-2.5 text-white rounded-xl font-medium">Reservar Ahora
        </button>
    </div>
</section>